.main-product-container{
    width: calc(100%-100px);
    margin-left: 100px;
    padding: 60px 30px;
}
.product-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.product-heading{
    font-family: Press Start 2P;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #DAB785;
    

}
.card-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 240px;
    height: 350px;
    border: 1px solid white;
    background: #FEF3BC;
}
.card-img{
    width: 100%;
    height: 180px;
}
.card-discription{
    width: 100%;
    height: 170px;
    padding: 20px 5px 10px ;
    color: black;
    
    
}
.card-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    margin-top: 4px;
}
.price{
    width: 20%;
}
.buy-btn{
    width: 70%;
}
.card-title{
    font-family: Aoboshi One;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
.card-disc{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}
.all-product-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.price{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
.card-image{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
}
.checkbox{
    width: 18px;
    height: 18px;
    background: #2B2417;
    border-radius: 5px;
    border: 1px solid white;
}
input[type="checkbox"] {
    background-color: red; 
  }
  
  /* Checked state */
  input[type="checkbox"]:checked {
    background-color: #00ff00; 
  }